<section id="lessons">
    <div class="container margin_60_35 d-flex justify-content-center">
      <div class="col-lg-8">
              <div class="intro_title">
                <h2>{{ include.title }}</h2>
                <ul>
                  <li>{{ site.data.courses[page_name].ta_classes.size | replace: '0', '۰' | replace: '1', '۱' | replace: '2', '۲' | replace: '3', '۳' | replace: '4', '۴' | replace: '5', '۵' | replace: '6', '۶' | replace: '7', '۷' | replace: '8', '۸' | replace: '9', '۹' }} {{ site.data.courses[page_name].content.ta_lessons_count_label }}</li>
                </ul>
              </div>
              <div id="accordion_lessons" role="tablist" class="add_bottom_45">
                {% for lesson in site.data.courses[page_name].ta_classes %}
                <div class="card">
                  {% if forloop.index == 1 %}
                  <div class="card-header" role="tab" id="heading_{{ forloop.index }}">
                    <h5 class="mb-0">
                      <a data-bs-toggle="collapse" href="#lesson_{{ forloop.index }}" aria-expanded="true" aria-controls="lesson_{{ forloop.index }}"><i class="indicator fa-solid fa-minus text-dark"></i> {{ lesson.title }}</a>
                    </h5>
                  </div>
                  <div id="lesson_{{ forloop.index }}" class="collapse show" role="tabpanel" aria-labelledby="heading_{{ forloop.index }}" data-bs-parent="#accordion_lessons">
                    <div class="card-body">
                      <div class="list_lessons">
                        <ul>
                          <li>{{ site.data.courses[page_name].content.class_info_soon }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  {% else %}
                  <div class="card-header" role="tab" id="heading_{{ forloop.index }}">
                    <h5 class="mb-0">
                      <a class="collapsed" data-bs-toggle="collapse" href="#lesson_{{ forloop.index }}" aria-expanded="false" aria-controls="lesson_{{ forloop.index }}">
                        <i class="indicator fa-solid fa-plus text-dark"></i> {{ lesson.title }}
                      </a>
                    </h5>
                  </div>
                  <div id="lesson_{{ forloop.index }}" class="collapse" role="tabpanel" aria-labelledby="heading_{{ forloop.index }}" data-bs-parent="#accordion_lessons">
                    <div class="card-body">
                      <div class="list_lessons">
                        <ul>
                          <li>{{ site.data.courses[page_name].content.class_info_soon }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
          </div>
      </div>
</section>